/* Card design */
.card {
  font-size: 5vw;
  line-height: 5vw;
  text-align:center;
  width: 300vw;
  height: 250vw;
  display: block;
  background: #A31621;
  padding: 3vw;
}
.cardcontainer {
  text-align: center;
  width: 150vw;
}


/* List functionality */
.list .cardlist {
  margin: 0;
  align-items: center;
  list-style-type: none;
}

.list .card {
  display: none;
  margin: 0;
  list-style-type: none;
}

.list .current {
  display: block;
  margin: 0;
  align-items: center;
  list-style-type: none;

}

img {
  max-width:95%;
  height:auto;
}

li{
  margin: 4vw 0;
}


/* Buttons */

button {
  background: #0c0;
  border-style: solid;
  border-color: white;
  color: #fff;
  border-radius: 50% 50%;
  width: 15vw;
  height: 15vw;
  line-height: 15vw;
  margin: 8vw;
  display: inline-block;
}
button:focus {
  outline: 0;
  background: #0f0;
}
#but-nope {
  background: #c00;
}
#but-nope:focus {
  outline: 0;
  background: #f00;
}

.cardcontainer.yes .card {
  -webkit-animation: yay 0.7s ease-out;
  animation: yay 0.7s ease-out;
}
.cardcontainer.nope .card {
  -webkit-animation: nope 0.7s ease-out;
  animation: nope 0.7s ease-out;
}


/*
  Animations
*/

@keyframes yay {
  from {
    transform: rotate(0deg);
    opacity: 1;
  }
  to {
    transform: rotate(40deg) translateY(-80px);
    opacity: 0;
  }
}

@-webkit-keyframes yay {
  from {
    -webkit-transform: rotate(0deg);
    opacity: 1;
  }
  to {
    -webkit-transform: rotate(40deg) translateY(-80px);
    opacity: 0;
  }
}

@keyframes nope {
  from {
    transform: rotate(0deg);
    opacity: 1;
  }
  to {
    transform: rotate(-40deg) translateY(-80px);
    opacity: 0;
  }
}

@-webkit-keyframes nope {
  from {
    -webkit-transform: rotate(0deg);
    opacity: 1;
  }
  to {
    -webkit-transform: rotate(-40deg) translateY(-80px);
    opacity: 0;
  }
}
