body {
  font-family: Luminari, fantasy;
  background: #51A5C5;
  color: #FFFCF2;
  font-size: 5vw;
  padding: 0;
  margin: 0;
  
}

h1{
  color:  #FFFCF2
  font-size: 24vw;
  font-weight: normal;
  text-align: center;
}

header, section, footer {
  display: block;
  padding: 0.5em 1em;
}
header, footer {
  background: #461220;
  background: linear-gradient(#111,#000);
}
header{
  background: #A31621;

}
<<<<<<< HEAD
a {color: lime;}
h1 {
  color:  #FFFCF2;
  font-size: 10vw;
  font-weight: normal;
  text-align: center;
}

  align-items: c
=======
>>>>>>> 0666475abdd43061fc72478726c66800cee124ae

footer {
  background: transparent;
  clear: both;
  font-size: 10px;
  text-align: center;
  padding: 10vw;
}
.card {
  color: #white;
  width: 65vw;
  height: 100vw;
}
.cardcontainer {
  width: 70vw;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  padding-top:10vw;
}
.list ul.cardlist {
  margin: 0 0 10px 0;
  height: 300vw;
}
img {display: block;}
.but-nope::after {
  content: 'nope';
  position: absolute;
  top: -35px;
  left: 20px;
  font-size: 30px;
  transform: rotate(-30deg);
  background: #c00;
  padding: .2em .4em;
  color: #fff;
  display: block;
  transition: 0.4s;
  opacity: 0;
}
.but-nope:hover::after {
  opacity: 1;
  top: 35px;
}
.but-yay::after {
  content: 'yep';
  position: absolute;
  top: -35px;
  right: 20px;
  font-size: 30px;
  background: #0c0;
  color: #fff;
  padding: .2em .4em;
  transform: rotate(30deg);
  display: block;
  transition: 0.4s;
  opacity: 0;
}
.but-yay:hover::after {
  opacity: 1;
  top: 35px;
}
#results {
  opacity: 0;
  position: absolute;
  top: -20000px;
  transition: opacity 0.5s;
  margin: 0;
  padding: 0;
}
#results li {
  margin: 0;
  padding: 0 0 5px 5px;
  list-style: none;
  float: left;
}
#results  {
  margin: 0;
  padding: 0 0 5px 5px;
  list-style: none;
  float: left;
}
#results.live {
  top: 0;
  position: relative;
  opacity: 1;
}
#counter {
  position: absolute;
  bottom: 15px;
  right: 15px;
}
