/*
 * CS2003 Web2 Practical, Example CSS
 * Saleem Bhatti, Oct 2018
 * Run this to generate the example web-page.
 */

body{
  font-family: sans-serif;
}

dirinfo {
  display: inline-block;
}

h1{
  color:darkslategrey
}

h2{
  color:darkslategrey
}

server {
  display: inline-block;
  color: crimson;
}

server::before {
  content: "server: ";
}

directoryname {
  display: inline-block;
  color: teal;
}

directoryname::before {
  content: "directory: ";
}

files {
  display: table;
  border-collapse: collapse;
}

fileinfo {
  padding: 0.25rem;
  display: table-row;
}

fileinfo[type="header"] {
  color: white;
  background-color: teal;
}

fileinfo[type="header"]:hover {
  color: white;
  cursor: pointer;
  background-color: teal;
}

fileinfo[type="directory"]:hover > filename {
  color: white;
  cursor : pointer;
  background-color: crimson;
}

fileinfo[type="directory"] > filename {
  background-color: lightcyan;
}

fileinfo[type="directory"] > filename::after {
  content: "/";
}

filename, size, type, atime, ctime, mtime, birthtime {
  padding: 0.5rem;
  border: 1px solid darkslategrey;
  display: table-cell;
}

filename {
  text-align: left;
}

size {
  text-align: right;
}

filename, size, type, atime, ctime, mtime, birthtime {
  text-align: center;
}


